.contenido{
  padding: 15px;

}
.row-1{
  background-color: blueviolet;
}

.navbar{
  margin-top: 15px;
  margin-bottom: 15px;
}
.icono{
  padding-right: 5px;
}

#sticky-footer {
  flex-shrink: none;
}
.cuerpo{
  overflow: auto;
  position: relative;
}

.redes-sociales{
  line-height: 5px;
  font-size: smaller;
}

Link:hover{
  color: blueviolet;
}