.contenido{
  padding: 15px;

}
.row-1{
  background-color: blueviolet;
}

.navbar{
  margin-top: 5px;
  margin-bottom: 5px;
}
.icono{
  padding-right: 5px;
}

#sticky-footer {
  flex-shrink: none;
}
.cuerpo{

  position: relative;
}

.redes-sociales{
  line-height: 5px;
  font-size: smaller;
}


