.contenido{
  padding-top: 10px;
  padding-bottom: 10px;
}


.navbar{
  margin-top: 5px;
  margin-bottom: 5px;
}
.icono{
  padding-right: 5px;
}

#sticky-footer {
  flex-shrink: none;
}
.redes-sociales{
  line-height: 20px;
  font-size: smaller;

}

@media only screen and (max-width: 329px) {
	.correccionTitulo{
		font-size: 1.1rem !important;
	}
}

