.paral3 {
	position: relative;
	min-height: 340px;
	background-attachment: fixed;
	background-size: cover;
    background-position: 50% 50%;
    margin: 0% !important;
    padding: 0% !important;
} 

.paral3 p {
	color:#f5f5f5;
	text-align: center;
}
 
.paral3 h1 {
	color: #f5f5f5;
    font-size: 60px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .paral3 {
        min-height: 950px !important;
    } 
   
    
    
}

.personas{
    margin-top: 40px;
}
.personas .col{
    margin-bottom: 30px !important;
 }

 .personas h4{
     font-size: 18px;
     margin-bottom: 0px;
 }
 
.personas p{
    font-size: 14px;
}