
.carousel-item {
    width: 100%;
    max-height: 300px ;
}


.informacion1{
    margin-top: 20px;
    margin-bottom: 0;
}

.icono{
    padding-left: 5px;
    padding-right: 5px;
}

.imagen-circular{
    margin-bottom: 20px;
}

.informaciones{
    padding-bottom: 20px;
}
.cuerpo-home{
    margin-top: 30px;
}

.imagen-robot{
    margin: auto;
    
}
@media only screen and (max-width: 600px) {
    .caja1{
		border-bottom: 1px solid rgba(0,0,0,.1);
        padding-bottom: 30px !important;
    } 
    .caja2{
        padding-top: 30px;
    }
} 
