
.carousel-item {
    width: 100%;
    max-height: 350px ;
}


.informacion1{
    margin-top: 20px;
    margin-bottom: 0;
}

.icono{
    padding-left: 5px;
    padding-right: 5px;
}

.imagen-circular{
    margin-bottom: 20px;
}

.informaciones{
    padding-bottom: 20px;
}

.imagen-robot{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .caja1{
		border-bottom: 1px solid rgba(0,0,0,.1);
        padding-bottom: 30px !important;
    } 
    .caja2{
        padding-top: 30px;
    }
} 

.paralhome {
    position: relative;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0% !important;
    padding: 0% !important;
    border-radius: 0% !important;
} 

.paralhome h1 {
    font-size: 60px;
    font-weight: 500;
}
.paralhome .container {
   padding-top:80px;
   padding-right:400px;
   padding-left:100px;
}

@media only screen and (max-width: 600px) {
    .paralhome {
        min-height: 450px !important;
    } 
    .paralhome .container {
        padding-top:25px !important;
        padding-right:0px !important; 
        padding-left:0px !important;
     }
     .container-informaciones{
        padding-top:5px !important; 
        padding-bottom:30px !important;
    }
}
@media only screen and (max-width: 991px) and (min-width: 601px) {
    .paralhome .container {
        padding-top:50px !important;
        padding-right:20px !important; 
        padding-left:20px !important;
     }
}

.container-informaciones{
    padding-top:60px;
    padding-bottom:60px;
    padding-left: 40px;
    padding-right: 40px;
}

.special-card-left {
    margin-top: 100px;
    border-radius: 25px !important;
    background: rgba(255, 252, 252, 0.7) !important;
    text-align: left !important;
}

.special-card-right {
    margin-top: 60px;
    border-radius: 25px !important;
    background: rgba(255, 252, 252, 0.7) !important;
    text-align: left !important;
}

.special-card-center{
    margin-top: 50px;
    border-radius: 25px !important;
    background: rgba(255, 252, 252, 0.7) !important;
    text-align: left !important;
}

.estudiante{
    width: 250px;
    margin-left: -120px !important;
    margin-top: 100px;
    margin-bottom: -330px !important;
}

.informaciones{
    width: 100px;
    margin-left: -70px !important;
    margin-top: 320px;
}

.auspiciadores{
    width: 140px;
    margin-left: -150px !important;
    margin-top: 330px;
}

.btn-orange{
    background-color: rgb(227, 134, 53) !important;
    border-color: rgb(227, 134, 53) !important;
    color: white !important;
  }